* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body.pink {
  background-color: #ECC0D9;
}

.poll-list {
  width: 450px;
  padding: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}
.poll-list.hidden {
  display: none;
}
.poll-head {
  text-align: center;
}
.entered-question {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 22px;
  outline: none;
  width: 100%;
}
.add-list {
  border: none;
  border-radius: 5px;
  background-color: navy;
  outline: none;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}
.tasks {
  width: 100%;
  margin-top: 30px;
}
.item {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-size: 18px;
  margin: 20px auto;
}
.item input {
  border: none;
  font-size: 17px;
}
.item input:focus {
  border: none;
  outline: none;
}
.option {
  font-size: 16px;
  font-weight: 500;
  color: #111;
  letter-spacing: 1px;
}
.item.completed input {
  text-decoration: line-through;
  color: #777;
}
.item-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.item-btn i {
  color: navy;
  font-size: 18px;
}

.poll-radios {
  display: none;
  background-color: #F9F4FA;
  width: 80%;
  /* height: 80%; */
  border-radius: 10px;
  border: 1px solid #000;
  padding: 40px;
}
.poll-radios.hidden {
  display: block;
}

.poll-header {
  text-align: center;
  margin-bottom: 30px;
  font-family: cursive;
  font-size: 30px;
  color: navy;
}

.poll-options {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.option:hover {
  background-color: rgb(218, 214, 214);
}

.option:focus {
  border: 1px solid navy;
}

.option-input {
  transform: scale(2);
  margin-right: 50px;
}

.option-text {
  font-weight: 700;
  font-size: 22px;
  font-family: monospace;
}

.option-vote {
  text-align: center;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
}

.option-vote:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.option.aaa {
  display: none;
}