* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-weight: bold;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.poll-list {
  width: 450px;
  padding: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}
.poll-head {
  /* display: grid; */
  /* grid-template-columns: 4fr 1fr; */
  /* gap: 20px; */
  text-align: center;
}
.entered-question {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 22px;
  outline: none;
  width: 100%;
}
.add-list {
  border: none;
  border-radius: 5px;
  background-color: navy;
  outline: none;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}
.tasks {
  width: 100%;
  margin-top: 30px;
}
.item {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-size: 18px;
  margin: 20px auto;
}
.item input {
  border: none;
  font-size: 17px;
}
.item input:focus {
  border: none;
  outline: none;
}
.option {
  font-size: 16px;
  font-weight: 500;
  color: #111;
  letter-spacing: 1px;
}
.item.completed input {
  text-decoration: line-through;
  color: #777;
}
.item-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.item-btn i {
  color: navy;
  font-size: 18px;
}